<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My First Parcel App</title>
    <!-- <link rel="stylesheet" href="styles.css" /> -->
  </head>
  <body>
    <h2>ВІДКРИЙТE КОНСОЛЬ ПЕРЕД ТИМ ЯК ТЕСТИТИ</h2>
    <div class="testButtons">
      <button class="BtnTestAdd" type="submit">Add</button>
      <button class="BtnTestShow" type="submit">Show</button>
    </div>
    <div class="card"></div>
    <script type="module" src="../../js/localStorage/localStorage.js"></script>
  </body>
</html>
