  <div class="container">
    <div class="gallery">
      <!-- розмітку з JS підтягується -->
    </div>

    <!-- сюди ж можна підключити пагінацію в кінець -->

    <div class="js-container center-align">
      <ul class="pagination">
        <li class="disabled arrow-left"><a href="#!"><i class="material-icons">&laquo;</i></a></li>
        <li class="active"><a class="pagination__link" href="#!">1</a></li>
        <li class="waves-effect"><a class="pagination__link" href="#!">2</a></li>
        <li class="waves-effect"><a class="pagination__link" href="#!">3</a></li>
        <li class="waves-effect"><a class="pagination__link" href="#!">4</a></li>
        <li class="waves-effect"><a class="pagination__link" href="#!">5</a></li>
        <li class="waves-effect"><a class="pagination__link" href="#!">6</a></li>
        <li class="waves-effect"><a class="pagination__link" href="#!">7</a></li>
        <li class="waves-effect"><a class="pagination__link" href="#!">8</a></li>
        <li class="waves-effect"><a class="pagination__link" href="#!">9</a></li>
        <li class="waves-effect"><a class="pagination__link" href="#!">10</a></li>
        <li class="waves-effect arrow-right"><a class="pagination__link" href="#!"><i class="material-icons">&raquo;</i></a></li>
      </ul>
    </div>


  </div>


