@import '~node_modules/modern-normalize/modern-normalize.css';



   html {
     margin-left: calc(100vw - 100%);
     margin-right: 0;
   }


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  // background: rgb(245, 244, 250);
  background: black;
  // color: rgba(255, 255, 255, 1);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  cursor: default;


  &.no-scroll {
    overflow: hidden;
  }
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
