.footer_text {
  display: flex;
  align-items: center;
  text-align: center;

  margin-left: 5px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: var(--footer-second-bg-cl);

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    font-size: 16px;
    line-height: 18.75px;
  }

}

.footer_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--footer-bg-cl);


  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}

.footer_image {
  display: flex;
  align-items: center;
  fill: var(--footer-img-cl);
  margin: 0 10px;
}

.footer_btn {
  margin: 0 5px;
}