.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 60px;
}

.header {
    margin: auto;
    color: #ffffff;
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
}

.logo_secondpart {
    margin-left: 10px;

    @media screen and (min-width: 320px) {
        visibility: hidden;
    }

    @media screen and (min-width: 768px) {
        visibility: visible;
    }
}


.nav_menu {
    display: flex;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.nav_link {
    position: relative;

    &::before {
        content: " ";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background-color: var(--bg-color-header);
        transition: transform 0.35s;
        transform: scaleX(0);
        transform-origin: left;
    }

    &:hover:before {
        width: 100%;
        transform: scaleX(1);

    }

    &:not(:last-child) {
        margin-right: 40px;
    }

}

// клас для активної кнопки
.active-header {
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: var(--bg-color-header);
        border-radius: 2px;
        bottom: -5px;
        left: 0;
    }
}