.wrapper {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 1200px;
    }
}

.header {
    background-image: url(../images/abstract.jpg);
    background-size: cover;
    margin: auto;
}


.logo {
    display: flex;
    align-items: center;
}

.logo_secondpart {
    margin-left: 10px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 141px;
}

.nav_menu {
    display: flex;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.nav_link:not(:last-child) {
    margin-right: 40px;
}