.btn-library-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    cursor: pointer;
}

.btn-library-Watched,
.btn-library-Queue {

    text-align: center;
    height: 44px;
    width: 130px;
    padding: 5px;


    border: 1px solid #ffffff;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    line-height: 1.3;

    background-color: inherit;
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #ffffff;

    &:hover {
        color: #ffffff;
        border: none;
        background-color: #ff6b01;
    }

    @media screen and (min-width: 768px) {
        width: 152px;
    }

    @media screen and (min-width: 1200px) {
        width: 148px;
    }
}

.btn-library-Queue {
    margin-left: 20px;

    @media screen and (min-width: 768px) {
        margin-left: 32px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 16px;
    }
}

.active-lbr {
    border: none;
    background-color: #ff6b01;
}

// .library-btn.active {
//     background: #ff6b01;
// //     box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
// //     border: 0;
// //     color: #ffffff;
// // }

// .library__text {
//     color: #ff6b08;
//     font-size: 24px;
//     text-align: center;
//     font-weight: 900;
//     margin-bottom: 15px;
//     margin-top: 100px;

// }

// .library__picture {
//     width: auto;
//     height: auto;
//     margin-left: auto;
//     margin-right: auto;
// }



// .btn-library-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-left: auto;
//     margin-right: auto;
//     margin-bottom: 40px;
// }

// .btn-library-Watched,
// .btn-library-Queue {
//     text-transform: uppercase;
//     text-align: center;
//     height: 44px;
//     width: 130px;
//     padding: 5px;
//     color: rgba(255, 255, 255, 1);
//     border: 1px solid rgba(255, 255, 255, 1);
//     border-radius: 5px;
//     background-color: inherit;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//         border 250ms cubic-bezier(0.4, 0, 0.2, 1),
//         background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     ;

//     @media screen and (min-width: 768px) {
//         width: 152px;
//     }

//     @media screen and (min-width: 1200px) {
//         width: 148px;
//     }

//     &:hover,
//     &:focus {
//         color: #ffffff;
//         border: none;
//         background-color: #ff6b01;
//     }
// }

// .btn-library-Queue {
//     margin-left: 20px;

//     @media screen and (min-width: 768px) {
//         margin-left: 32px;
//     }

//     @media screen and (min-width: 1200px) {
//         margin-left: 16px;
//     }
// }