.library-gallery {
  padding: 20px;
  width: 100%;
  text-align: center;
  @media screen and(min-width:768px) {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, calc((100% - 32px) / 2));
    padding: 60px 32px;
  }
  @media screen and(min-width:1200px) {
    gap: 32px 16px;
    grid-template-columns: repeat(3, calc((100% - 32px) / 3));
  }
}

.library-card__img {
  width: 100%;
  border-radius: 5px;
  height: 398px;
  display: block;
  @media screen and (min-width: 768px) {
    height: 455px;
  }
  @media screen and (min-width: 1200px) {
    height: 574px;
  }

  // transition: box-shadow transition-duration 350ms transition-timing
  //     cubic-bezier(0.4, 0, 0.2, 1),
  //   scale transition-duration 350ms transition-timing
  //     cubic-bezier(0.4, 0, 0.2, 1);
  // &:hover,
  // &:focus {
  //   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  //     1px 4px 6px rgba(0, 0, 0, 0.16);
  //   scale: 1.1;
  // }
}

.library-info {
  text-align: left;
  margin-bottom: 10px;
  display: grid;
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 12px;
  }
}

.library-info__title {
  padding-top: 12px;
  text-align: left;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--header-text-card);
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.library-info__genre {
  margin: 0px;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 1.17;
  color: #ff6b08;
  @media screen and(min-width:768px) {
    line-height: 1.33;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.library-info__release {
  margin-left: 2px;
}
.film-rating {
  width: 40px;
  height: 20px;
  color: #ffffff;
  background-color: #ff6b08;
  border-radius: 5px;
  margin-left: 6px;
  padding: 3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  text-align: center;
}
.wrap-library {
  display: flex;
  align-items: center;
}
