.loader-kolo {
  width: 188px;
  height: 188px;
  border-radius: 50%;
  display: inline-block;
  border-top: 10px solid 	#5aacdc;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  position: absolute;
  left: 22%;
  top: 100px;


  transform: translate(-50%, -50%);
  @media screen and (min-width: 768px) {
    left: 37%;
}

@media screen and (min-width: 1200px) {
  left: 42%;
}
}
.loader-kolo::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 188px;
  height: 188px;
  border-radius: 50%;
  border-left: 10px solid #65324c;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}