html{
    scroll-behavior: smooth;
}

.simplifytotop.arlniainf {
    visibility: visible;
    cursor: pointer;
    -webkit-transform: translateZ(0) scale(1.0);
    transform: translateZ(0) scale(1.0);
}

.simplifytotop {
    visibility: hidden;
    z-index: 2;
    background: #ff6b08;
    color: #fff;
    font-size: 12px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 99em;
    cursor: pointer;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    -webkit-transform: translateZ(0) scale(0.0);
    transform: translateZ(0) scale(0.0);
    transition: all 0.6s;
}

.isShowBtn{
    opacity: 1;
    transition: 0.1s;

    &_hide{
    opacity: 0;
    }
}
