:root {
  // background colors
  --footer-bg-cl: #f7f7f7;
  --bg-color-header: #FF001B;
  --bg-col-current: #ff6b08;

  // text colors
  --footer-text-cl: #545454;
  --header-text-card: #000;
  --error-text: #FF001B;

// images color
--footer-img-cl: #ff6b08;



}
