 <div class="theme">
          <div class="day_sun">
            <svg class="day day_color" width="30" height="30" aria-label="sun">
              <use href="./images/symbol-defs.svg#icon-sun"></use>
            </svg>
          </div>
          <div class="night_moon">
            <svg class="night night_color" width="30" height="30" aria-label="moon">
              <use href="./images/symbol-defs.svg#icon-moon"></use>
            </svg>
          </div>
        </div>

        <div class="bg-img">
          <div class="box ">

          </div>
        </div>