<div class="modalbackdrop-film">
  <div class="modal-film container">
    <button
      type="button"
      class="film-card-close"
      aria-label="close button"
      autofocus
    >
      <svg class="film-card-close-svg" width="20" height="20">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <!-- <div class="trailer-btn">
        <svg class="trailer-btn__play">
          <use href="./images/icons.svg#icon-play-button"></use>
        </svg>

      </div> -->

    <div class="film-card"></div>
  </div>
</div>
