.modal__title{
  text-align: center;
  color: var(--footer-img-cl);
  margin-bottom: 55px;
  font-weight: 900px;
  font-size: 40px;
}

.team-info {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  margin-left: -10px;
  margin-top: -10px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
     width: 200px;
  margin-bottom: 10px;
}

.item__img {
  min-width: 100%;
  border-radius: 20px;
  height: 200px;
  margin: auto;
  margin-bottom: 5px;
  transition: 1s;
  &:hover {
    transform: scale(1.1);
  }
}

.list__wrapper {
  color: orange;
  text-transform: uppercase;
  text-align: center;
  height: auto;
    margin-bottom: 20px;
  margin-top: 20px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.list__title {
  text-align: center;
  margin-top: 10px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  font-weight: 900px;
  font-size: 16px;
  }

.list__subtitle {
  text-align: center;
  font-size: 14px;

  //   @media screen and (min-width: 768px) and (max-width: 1199px) {
  //     margin-bottom: 15px;
  //     font-size: 17px;
  //     line-height: 1.15px;
  //   }
  //   @media screen and (min-width: 1200px) {
  //     margin-bottom: 15px;
  //     font-size: 18px;
  //     line-height: 1.1px;
  //   }
}

// .social-media {
//   text-transform: lowercase;
//   display: block;
//   // color: blue;
//   font-weight: 400;
//   font-size: 11px;
//   line-height: 0.14;
//   letter-spacing: 0.01em;
// }

// .social-media__link {
//   // text-decoration: none;
//   // color: inherit;
//   // width: 30px;
// }

// .social-media__icon {
//   display: inline-block;
//   // width: 25px;
//   // height: 25px;
//   margin: 0;
//   // z-index: 1;
//   // position: relative;

//   @media screen and (min-width: 768px) and (max-width: 1199px) {
//     width: 30px;
//     height: 30px;
//   }
//   @media screen and (min-width: 1200px) {
//     width: 30px;
//     height: 30px;
//   }
// }
