.day_night{
    position: absolute;
    left: 85%;
    color: var(--footer-bg-cl);
}

.day, 
.night {
 fill: var(--footer-bg-cl);
}

.night_layout{
 background-color: rgb(43, 42, 42);
}

.day_color{
    fill: rgb(240, 228, 53);
}

.night_color{
    fill: blue;
}