body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: scale(1);
  // opacity: 1;
  // visibility: visible;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal__team {
  // visibility: hidden;
  // opacity: 0;

  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 90%;
  height: 90%;
  background-color: #f7f7f7;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: auto;
  margin: auto;
  padding: 38px 20px 10px;

  @media screen and (min-width: 768px) {
    width: 738px;
  }

  @media screen and (min-width: 1200px) {
    width: 960px;
  }}

  .modal__btn {
    position: absolute;
    top: 2%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: white;
    cursor: pointer;
    outline: none;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;}
  

  .modal__btn:hover .modal__icon,
  .modal__btn:focus .modal__icon {
    fill: var(--footer-img-cl);
  }
  
