body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: scale(1);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;



  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal {
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%) scale(1);
  width: 90%;
  // min-height: 581px;
  height: 90%;
   background-color: var(--footer-text-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: auto;
  margin: auto;
  padding: 48px 20px 0;
 

  // @media screen and (min-width: 480px) {
  //   width: 450px;
  // }

  // @media screen and (min-width: 1200px) {
  //   width: 528px;
  //  }

  &__btn {
    
    position: absolute;  top: 2%;
  right: 2%;
   display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
color: white;
  cursor: pointer;
    outline: none;
background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  }

  // &__icon {
  //   fill: #000000;
  // }

  // &__btn:focus &__icon {
  //   fill: #2196f3;
  // }
}

