<div class="search-form-container">
  <form class="search-form" id="search-form">
    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Movie search"
      class="search-form__input"
    />
    <button type="submit" class="search-form__btn">
      <svg class="search_icon" width="12" height="12">
        <use href="./images/symbol-defs.svg#icon-search"></use>
      </svg>
    </button>
  </form>
  <p class="search-form__error">
    Search result not successful. Enter the correct movie name and try again.
  </p>
</div>
